<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRScanner"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <activity
            android:name=".userInterface.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userInterface.activities.MainActivityNew"
            android:exported="true"/>

        <activity
            android:name=".userInterface.activities.GalleryScanBarcodeActivity"
            android:exported="false" />

        <activity
            android:name=".userInterface.activities.BatchScanningFavHistory"
            android:exported="false" />

        <activity
            android:name=".userInterface.activities.QRResultActivity"
            android:exported="false" />


        <activity
            android:name=".userInterface.activities.ResultOfQRActivity"
            android:exported="false" />

        <activity
            android:name=".userInterface.activities.MainBarcodeCreateActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_pathsx" />
        </provider>


    </application>

</manifest>